<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Short URL</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="jumbotron"> <h1></h1>
        <form role="form" th:action="@{/url}" method="post">
            <label class="form-label">shorten URL</label>
            <div class="input-group mb-3">
                <a th:href="@{/url/{shortUrl}(shortUrl = ${shortUrl})}" class="basic-url">
                    <span th:text="'localhost/' + ${shortUrl}"></span>
                </a>
            </div>
            <div>
                <label>destination</label>
                <p></p>
                <a th:href="${originUrl}">
                    <span th:text="${originUrl}"></span>
                </a>
            </div>

        </form>
    </div>
</div> <!-- /container -->

</body>
</html>