<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shorten Url</title>
</head>
<body>
  <input class="long_url" id="long_url" type="text" placeholder="Shorten your link">
  <button class="btn" id="shorten_url_btn">Shorten</button>
  <div class="short_url" id="short_url"></div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous">
  </script>
  <script src="/js/index.js"></script>
</body>
</html>