<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Short URL Generator</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>

<div class="container mt-5">
  <h5 class="card-title">URL Shortener</h5>
  <form method="post" th:action="@{/url-shortener}" th:object="${request}">
    <div class="mb-3">
      <label for="urlInputText" class="form-label">Origin Url</label>
      <input type="text" class="form-control" id="urlInputText" name="originUrl" placeholder="단축할 url을 입력하세요.">
    </div>
    <button type="submit" class="btn btn-primary">단축하기</button>
  </form>
  <br/>

  <div th:if="${shortenUrl}" class="alert alert-success">
    <strong>Your Shortened URL:</strong>
    <a th:href="@{'/url-shortener/' + ${shortenUrl}}" th:text="${shortenUrl}">Shortened Link</a>
  </div>
  <div th:if="${requestCount}" class="alert alert-info">
    <strong>Request Count:</strong> <span th:text="${requestCount}"></span>
  </div>
</div>
</body>
</html>