spring:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
#        show_sql: true
        format_sql: true

  profiles:
    active: db

logging.level:
  org.hibernate.SQL: debug
# org.hibernate.type: trace

# url: "http://localhost:8080/"
url: "http://http://15.164.15.13:8080/"
