<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>

    <property name="FILE_LOG_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n" />

    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/error-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>

        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="com.programmers.springbooturlshortener" level="info">
        <appender-ref ref="ROLLING_FILE" />
    </logger>

    <logger level="debug" name="org.springframework.boot.diagnostics.LoggingFailureAnalysisReporter">
        <appender-ref ref="ROLLING_FILE"/>
    </logger>
</configuration>
