.url-page {
    background-color: #f8f9fa;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column; /* 제목과 카드를 세로로 배열 */
    align-items: center;
    justify-content: center;
}

.custom-card {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 900px;
    height: auto;
    transition: transform 0.5s; /* transform 속성에 대한 CSS 애니메이션을 추가 */
    margin: 20px auto; /* 위아래 여백을 동일하게 설정 */
}

.form-label {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 12px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
    margin-bottom: 20px;
}

.form-control:focus {
    border-color: #007BFF;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.form-group.col-md-9 {
    display: flex;
    flex-direction: row; /* 요소들을 가로로 배열 */
    align-items: center;
    justify-content: center;
    height: auto;
    margin-bottom: 0; /* 여백을 없애기 위해 추가 */
}

.form-group.col-md-9 label,
.form-group.col-md-9 input,
.form-group.col-md-9 button {
    max-width: 100%; /* 최대 너비를 100%로 설정 */
    margin: 0 5px; /* 각 요소 사이의 여백을 조정 */
}

.btn-custom {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
    white-space: nowrap; /* 텍스트가 한 줄로 유지되도록 합니다 */
}

.btn-custom:hover {
    background-color: #0056b3;
}

.horizontal-line {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
}

.table-custom {
    border-collapse: collapse;
    width: 100%;
}

.table-custom th,
.table-custom td {
    border: 1px solid transparent; /* 상하좌우 모서리를 투명으로 설정 */
    border-bottom-color: #ccc; /* 하단 가로줄만 회색으로 설정 */
    padding: 8px;
    text-align: left;
}
