<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>페이지를 찾을 수 없습니다.</title>
    <link type="text/css" rel="stylesheet" href="css/style.css"/>
  </head>

  <body>
    <div id="error">
      <div class="error">
        <div class="error-num">
          <h3>페이지를 찾을 수 없습니다.</h3>
          <h1><span>4</span><span>0</span><span>4</span></h1>
        </div>
        <h2>요청하신 페이지가 존재하지 않습니다.</h2>
      </div>
    </div>
  </body>

</html>