<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>서버 에러</title>
    <link type="text/css" rel="stylesheet" href="css/style.css"/>
  </head>

  <body>
    <div id="error">
      <div class="error-page">
        <div class="error-num">
          <h3>서버에 에러가 발생했습니다.</h3>
          <h1><span>5</span><span>0</span><span>0</span></h1>
        </div>
        <h2>예상치 못한 에러가 발생했으니 잠시 후에 다시 요청해주세요.</h2>
      </div>
    </div>
  </body>

</html>