<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>ERROR</title>
</head>
<body>
<div class="message" style="text-align: center">
    <img alt="minecraft-main-character" height="100"
         src="https://img.icons8.com/glyph-neue/100/minecraft-main-character.png"
         width="100"/>
    <h2>
        존재하지 않는 단축 링크입니다
    </h2>
    <h2>
        재시도해주세요
    </h2>
</div>
</body>
</html>
