<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>URL Shortener</title>
</head>
<body>

<div class="app-body">
    URL SHORTENER
    <form action="" method="post" >
        <div class="url-form">
            <label for="originalUrl">
                <input type="text" placeholder="Shorten your link" id="originalUrl" name="originalUrl">
            </label>
            <button type="submit" id="shorten-button">Shorten</button>
        </div>
    </form>
</div>
</body>
