<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head::headFragment"></head>

<body>
<div class="d-grid gap-2 justify-content-md-center">
  <br/>
  <br/>
  <br/>
  <br/>
  <h1>URL SHORTENER</h1>

  <form action="/urls/short" method="post" th:action="@{/shortener}" th:method="post">

    <div class="mb-3">
      <input class="form-control" id="originUrl" name="originUrl"
             placeholder="input your origin url" type="text">
    </div>

    <div class="form-floating">
      <select class="form-select" id="urlType" name="algorithm">
        <option selected value="BASE62">BASE62</option>
        <option value="BASE64">BASE64</option>
      </select>
      <label for="urlType">SHORTEN ALGORITHM</label>
    </div>

    <br/>

    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
      <button class="btn btn-outline-primary btn-lg" type="submit">✂️ 단축하기 ✂️</button>
    </div>

  </form>

  <div class="d-grid gap-2 d-md-flex justify-content-md-center">
    <a class="btn btn-outline-primary btn-lg" th:href="@{/mappings}" type="button">🗂️모든 매핑 조회🗂️</a>
  </div>

</div>
</body>
</html>