<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
      name="viewport"
  />
  <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
  <title>Url Shortener</title>
  <style>
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .form {
      min-width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .form input {
      min-width: 80%;
      margin-bottom: 30px;
      height: 50px;
      padding-left: 20px;
    }

    #result {
      margin-top: 20px;
      border: 2px solid gray;
      padding: 20px 30px;
      border-radius: 8px;
    }
  </style>
</head>
<body>
<div class="container">
  <h1>Url Shortener</h1>
  <h2>정보 조회</h2>
  <form class="form">
    <input id="url" type="text"/>
    <button>Search</button>
  </form>
  <div id="result">
    축약된 URL을 입력해주세요
    <div id="#metadata">

    </div>
  </div>
</div>
<script>
  const form = document.querySelector(".form");
  const urlInput = document.querySelector(".form input");
  const result = document.querySelector("#result");
  const stringifyMetadata = (payload) => `<div>URL : ${payload.url}</div><div>원본 URL : ${payload.originalUrl}</div><div>누적 접속 수 : ${payload.count}</div>`
  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    const shortenedUrl = urlInput.value;
    const urlRegex = /^https?:\/\/[^\/\s]+\/[\w\d]{7}/;
    if (!urlRegex.test(shortenedUrl)) {
      alert("url 형식에 맞지 않습니다.")
      urlInput.value = '';
      urlInput.focus();
      return;
    }
    const key = shortenedUrl.match(/[\w\d]{7}$/);

    const response = await fetch("/url?key=" + key, {
      method: "get",
    });
    const data = await response.json();

    if (response.status === 400) {
      result.innerText = data.message;
      result.style.backgroundColor = "tomato";
      setTimeout((component) => {
        component.innerText = "축약된 URL을 입력해주세요"
        component.style.backgroundColor = "white";
      }, 2000, result)
    } else {
      result.innerHTML = stringifyMetadata(data);
      result.style.backgroundColor = "lightgreen"
    }
    urlInput.value = "";
  });
</script>

</body>
</html>

