<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>URL SHORTENER</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-7">
            <div th:text="${'http://localhost:8080/short-url/'+encodedId}"></div>
        </div>
        <div class="col-5">
            <a th:href="@{'http://localhost:8080/short-url/'+${encodedId}}" class="btn btn-primary">go to page</a>
        </div>
    </div>
</div>
</body>
</html>