<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>단축 url</th>
                <th>원본 url</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${urlResponse.url()}"></td>
                <td th:text="${urlResponse.orgUrl()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>